@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

.container {
    min-width: 500px;
    max-width: 1500px;
    width: 90%;
    margin: auto;
	margin-top: 0;
	background-color: #f8f8f8;
}

header {
	width: 100%;
	height: 700px;
	background: #abeafa;
}

.header_small {
	width: 100%;
	height: 350px;
	background: #abeafa;
}

.header_map {
	width: 100%;
	height: 350px;
	background: #abeafa;
}

.header_map map {
	padding: 0;
	margin: 0;
	
}
.logo {
	position: absolute;
	left: 380px;
	top: 100px;
}
	
.info {
	position: relative;
	left: 175px;
	top: 242px;
	background-color: #FFF500;
	width: 268px;
	height: 300px;
	text-align: inherit;
}

.info h1,p {
	padding-left: 25px;
	padding-right: 25px;
}

.info h1 {
	padding-top: 60px;
	font: normal 32px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.news {
	position: relative;
	left: 900px;
	top: -150px;
	width: 268px;
	height: 300px;
	text-align: inherit;
}

.news h2 {
	padding-left: 20px;
	padding-right: 20px;
	font: normal 40px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF500;
}

.news h3 {
	text-decoration: none;
	background-color: #FFF500;
	margin: 23px;
	padding: 10px;
	display: block;
	width: 120px; 
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;	
	text-align: center;
}

.info p {
	font: italic 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
	width: 95%;
	margin: 25px auto;
}

.menu {
	position: relative;
	left: 136px;
	width: 268px;
	margin-top: -45px;
	padding: 0;
	list-style-type: none;
}

.menu a {
	text-decoration: none;
	background-color: #26d2fc;
	padding: 10px;
	display: block;
	width: 250px;
	height: 19px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
}

.menu h4 {
	text-decoration: none;
	background-color: #000000;
	padding: 10px;
	display: block;
	width: 250px; 
	height: 47px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.menu a:hover {
	text-decoration: none;
	background-color: #000000;
	padding: 10px;
	display: block;
	width: 250px; 
	height: 19px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.submenu {
	list-style-type: none;
	width: 250px;
	position: relative;
	padding: 10px;
	left: 309px;
	margin: -49px;
	height: 19px;
	display: none;
	z-index: 2;
}

.menu li:hover ul {
	display: block;
}





.cat_menu {
	position: relative;
	left: 136px;
	width: 268px;
	margin-top: -25px;
	padding: 0;
	list-style-type: none;
}

.cat_menu a {
	text-decoration: none;
	background-color: #26d2fc;
	padding: 10px;
	display: block;
	width: 250px;
	height: 19px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
}

.cat_menu h4 {
	text-decoration: none;
	background-color: #000000;
	padding: 10px;
	display: block;
	width: 250px; 
	height: 47px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.cat_menu a:hover {
	text-decoration: none;
	background-color: #000000;
	padding: 10px;
	display: block;
	width: 250px; 
	height: 19px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

.cat_submenu {
	list-style-type: none;
	width: 250px;
	position: relative;
	padding: 10px;
	left: 309px;
	margin: -49px;
	height: 19px;
	display: none;
	z-index: 2;
}

.cat_menu li:hover ul {
	display: block;
}








.product { 
	background-color: #f8f8f8;
	display: block;
	position: absolute;
	left: 667px;
	top: 681px;
	width: 870px;
	height: 700px;
	z-index: 1;
}

.product h5 {
	padding: 26px;
	font: 22px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cat_product { 
	background-color: #f8f8f8;
	display: block;
	position: absolute;
	left: 667px;
	top: 350px;
	width: 870px;
	height: 700px;
	z-index: 1;
}

.cat_product h5 {
	padding: 26px;
	font: 22px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}





.cat_coconut, .cat_mango-peru, .cat_watermelon, .cat_ananas {
	background-color: #ffffff;
	width: 270px;
	height: 320px;
}

.cat_coconut {
	position: absolute;	
	padding-left: 0;
	margin-left: 0;
	background-color: #ffffff;
}

.cat_coconut_full {
	float: left;
}

.product_right {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product_down {
	position: absolute;
	left: 0px;
	top: 550px;
	margin: 0;
	padding: 0;
	text-align: justify;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.cat_mango-peru {
	position: absolute;
	left: 300px;
	top: 80px;
}


.cat_watermelon {
	position: absolute;
	left: 600px;
	top: 80px;
}

.cat_ananas {
	position: absolute;
	top: 430px;
}

.product a {
	text-decoration: none !important;
}

.product img {
	padding: 10px;
}

.name_fruit {
	position: absolute;
	bottom: 10px;
	width: 250px;
	padding-left: 10px;
	text-align: center;
	text-decoration: none;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
}


.nav_bread a {
	font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #464646;
}

.nav_bread {
	margin-bottom: 60px;
}


fieldset {
	border: 0;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 25px;
}

fieldset input {
	padding-left: 15px;
	height: 30px;
	font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.butt  {
	color: #000000;
	background: #FFF500;
	border: #FFF500;
	height: 40px;
	width: 110px;
	font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.butt1  {
	margin-top: 15px;
	margin-left: 130px;
	color: #FFFFFF;
	background: #fb4d01;
	border: #fb4d01;
	height: 50px;
	width: 130px;
	font: 22px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about_about {
	position: absolute;
	left: 450px;
	top: 60px;
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}








	



/*footer*/



.social {
	position: relative;
	bottom: 150px;
	left: 180px;
	margin-bottom: -90px;
}

.social a {
	padding-left: -5px;
	margin-left: -5px;
}

footer {
	margin-top: calc(100% - 350px);
	height: 350px;
	background-color: #373737;
	color: #ffffff;
}

h7 {
	font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

footer a, footer p {
	font: 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

footer li {
	list-style-type: none;
}

.category {
	float: left;
	padding-left: 200px;
}

.account {
	float: left;
	padding-left: 110px;
}

.suppor {
	float: left;
	padding-left: 80px;
}

.newsletter {
	float: left;
	padding-left: 80px;
}

footer input:required {
	background: #FFF500;
	color: #6A6969;
	padding-left: 15px;
	height: 30px;	
	border: 0;
	margin: 0;
}

footer input:last-of-type {
	height: 30px;
	width: 65px;
	color: #ffffff;
	background: #000000;
	border: #000000;
	margin-left: -5px;
}

.aboutus {
	float: left;
	padding-left: 45px;
}

.aboutus p {
	padding-left: 0px;
}

.copyr {
	position: relative;
	background: #000000;
	width: 100%;
	height: 40px;
	bottom: -250px;
}

