/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 500px;
  max-width: 1500px;
  width: 80%;
  margin: auto;
  margin-top: 0;
  background-color: #f8f8f8;
}

.logo {
  position: relative;
  left: 136px;
  top: 142px;
}

header {
  width: 100%;
  height: 700px;
  background: #abeafa;
}

.header_small {
  width: 100%;
  height: 350px;
  background: #abeafa;
}

.header_map {
  width: 100%;
  height: 350px;
  background: #abeafa;
}

.header_map map {
  padding: 0;
  margin: 0;
  
}
  
.info {
  position: relative;
  left: 136px;
  top: 260px;
  background-color: #FFF500;
  width: 268px;
  height: 300px;
  text-align: inherit;
}

.info h1,p {
  padding-left: 25px;
  padding-right: 25px;
}

.info h1 {
  padding-top: 60px;
  font: normal 32px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.info p {
  font: italic 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.news {
  position: relative;
  left: 900px;
  top: -150px;
  width: 268px;
  height: 300px;
  text-align: inherit;
}

.news h2 {
  padding-left: 20px;
  padding-right: 20px;
  font: normal 40px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF500;
}

.news h3 {
  text-decoration: none;
  background-color: #FFF500;
  margin: 23px;
  padding: 10px;
  display: block;
  width: 120px; 
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000; 
  text-align: center;
}


.content {
  margin: 25px auto;
}

.menu {
  position: relative;
  left: 136px;
  width: 268px;
  margin-top: -45px;
  padding: 0;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  background-color: #26d2fc;
  padding: 10px;
  display: block;
  width: 250px;
  height: 19px;
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

.menu h4 {
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  display: block;
  width: 250px; 
  height: 47px;
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.menu a:hover {
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  display: block;
  width: 250px; 
  height: 19px;
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.submenu {
  list-style-type: none;
  width: 250px;
  position: relative;
  padding: 10px;
  left: 309px;
  margin: -49px;
  height: 19px;
  display: none;
  z-index: 2;
}

.menu li:hover ul {
  display: block;
}

.main_content {
  background-color: #f8f8f8;
  display: block;
  position: absolute;
  left: 667px;
  top: 681px;
  width: 45%;
  height: 700px;
  z-index: 1;
}

.main_content h5 {
  padding: 26px;
  font: 22px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about_content { 
  background-color: #f8f8f8;
  display: block;
  position: absolute;
  left: 667px;
  top: 370px;
  width: 870px;
  height: 700px;
  z-index: 1;
}

.nav_bread a {
  font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #464646;
}

.nav_bread {
  margin-bottom: 60px;
}



fieldset {
  border: 0;
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 25px;
}

fieldset input {
  padding-left: 15px;
  height: 30px;
  font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.butt  {
  color: #000000;
  background: #FFF500;
  border: #FFF500;
  height: 40px;
  width: 110px;
  font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about_about {
  position: relative;
  float: right;
  left: -100px;
  top: -400px;
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  











/*footer*/




.social {
  position: relative;
  bottom: 150px;
  left: 180px;
  margin-bottom: -90px;
}

.social a {
  padding-left: -5px;
  margin-left: -5px;
}

footer {
  margin-top: calc(100% - 350px);
  height: 350px;
  background-color: #373737;
  color: #ffffff;
}

h7 {
  font: 18px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

footer a, footer p {
  font: 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

footer li {
  list-style-type: none;
}

.category {
  float: left;
  padding-left: 200px;
}

.account {
  float: left;
  padding-left: 110px;
}

.suppor {
  float: left;
  padding-left: 80px;
}

.newsletter {
  float: left;
  padding-left: 80px;
}

footer input:required {
  background: #FFF500;
  color: #6A6969;
  padding-left: 15px;
  height: 30px; 
  border: 0;
  margin: 0;
}

footer input:last-of-type {
  height: 30px;
  width: 65px;
  color: #ffffff;
  background: #000000;
  border: #000000;
  margin-left: -5px;
}

.aboutus {
  float: left;
  padding-left: 45px;
}

.aboutus p {
  padding-left: 0px;
}

.copyr {
  position: relative;
  background: #000000;
  width: 100%;
  height: 40px;
  bottom: -250px;
}

